    @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
    @import "_variabls";
    .body {
        margin: 0;
        font-family: $fontFamily;
    }
    
    .header {
        height: 100px;
        border-bottom: 1px solid #ececec;
    }
    
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    
    .header .container {
        display: flex;
        height: inherit;
        flex-direction: row;
        align-items: center;
    }
    
    .logo {
        display: flex;
        align-items: center;
        height: 51px;
        background: url(/img/logo.jpg) no-repeat left center;
        color: #222222;
        font-size: 27px;
        font-weight: 300;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 0.68px;
        padding-left: 72px;
        box-sizing: border-box;
        margin-right: 37px;
        font-family: $fontFamily;
    }
    
    .logo span {
        color: $colorRed;
        font-weight: $fontWeightBold;
        letter-spacing: 0.68px;
    }
    
    .top-search {
        display: flex;
        border: 1px solid #e6e6e6;
        border-radius: 3px 0 0 3px;
        overflow: hidden;
        height: 38px;
        font-family: $fontFamily;
    }
    
    .top-search .search-button {
        border: none;
        background: none;
        padding: 12px 11px;
        color: #a4a4a4;
        letter-spacing: 0.35px;
    }
    
    .top-search input {
        border-bottom: none;
        border-top: none;
        color: #a4a4a4;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        padding: 14px 16px;
        box-sizing: border-box;
    }
    
    .search-browse {
        width: 87px;
        color: #222222;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.35px;
        border: none;
        font-family: $fontFamily;
    }
    
    .cart {
        margin-left: auto;
        width: 32px;
        height: 29px;
    }
    
    .my-account {
        color: #ffffff;
        font-size: 15px;
        width: 130px;
        height: 38px;
        background: $colorRed;
        margin-left: 26px;
        border: none;
        font-family: $fontFamily;
    }
    
    .top-nav {
        flex-wrap: wrap;
        height: 51px;
        font-size: 14px;
        font-weight: 700;
        line-height: 47px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $fontFamily;
    }
    
    .top-nav a {
        text-decoration: none;
        color: #222222;
        box-sizing: border-box;
        border-bottom: 4px solid transparent;
    }
    
    .top-nav a:hover {
        border-bottom: 4px solid $colorRed;
        color: $colorRed;
    }
    
    .top-nav a:not(:last-child) {
        margin-right: 47px;
    }
    
    .promo {
        height: 614px;
        background: url(../img/Layer_24.jpg) no-repeat, #e8e8e8;
        margin: 0 auto;
        display: flex;
        align-items: center;
        background-position-x: 450px;
    }
    
    .promo-wrap {
        border-left: 12px solid $colorRed;
        height: 92px;
        padding-left: 12px;
        font-weight: $fontWeightBold;
        text-transform: uppercase;
    }
    
    .promo-top-text {
        font-size: 60px;
        letter-spacing: 1.5px;
        line-height: 47px;
        color: #222222;
        top: -3px;
        font-family: $fontFamily;
    }
    
    .promo-bottom-text {
        letter-spacing: 1px;
        font-size: 40px;
        color: #222222;
        line-height: 30px;
        margin-top: 15px;
        font-family: $fontFamily;
    }
    
    .fashiom-class {
        color: $colorRed;
        letter-spacing: 1px;
        font-family: $fontFamily;
    }
    
    .top-offers {
        margin-top: 100px;
        min-height: 823px;
    }
    
    .top-offers .container {
        min-height: inherit;
        position: relative;
    }
    
    .hot-deal {
        width: 560px;
        height: 524px;
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/Layer_30.jpg) no-repeat;
    }
    
    .offer-label {
        width: 175px;
        height: 82px;
        background-color: #ffffff;
        display: inline-block;
        font-family: $fontFamily;
        margin-top: 26px;
    }
    
    .hot2 {
        padding: 19px 16px;
        box-sizing: border-box;
        color: #222222;
        font-size: 17px;
        font-weight: $fontWeightBold;
        text-transform: uppercase;
        letter-spacing: 0.45px;
    }
    
    .hot2 div {
        color: $colorRed;
        font-size: 29px;
        letter-spacing: 0.75px;
    }
    
    .offer-label1 {
        width: 225px;
        height: 82px;
        background-color: #ffffff;
        display: inline-block;
        margin-top: 26px;
        font-family: $fontFamily;
    }
    
    .hot3 {
        padding: 19px 16px;
        width: 189px;
        height: 50px;
        color: #222222;
        font-size: 17px;
        font-weight: $fontWeightBold;
        text-transform: uppercase;
    }
    
    .hot3 div {
        color: $colorRed;
        font-size: 29px;
        letter-spacing: 0.75px;
    }
    
    .hot4 {
        padding: 19px 16px;
        width: 180px;
        height: 82px;
        box-sizing: border-box;
        color: #222222;
        font-size: 17px;
        font-weight: $fontWeightBold;
        text-transform: uppercase;
        letter-spacing: 0.45px;
    }
    
    .hot4 div {
        color: $colorRed;
        font-size: 29px;
        letter-spacing: 0.75px;
    }
    
    .luxirous {
        width: 560px;
        height: 261px;
        background: #dadad2;
        background-image: url(../img/Layer_37.jpg), none;
        background-position: 100% 0;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .offer30 {
        width: 560px;
        height: 261px;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../img/Layer_32.jpg) no-repeat;
    }
    
    .kids {
        width: 560px;
        height: 542px;
        background: url(../img/Layer_31.jpg) no-repeat;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
    .product {
        width: 1139px;
        margin: 0 auto;
        margin-top: 100px;
    }
    
    .product .container {
        min-height: inherit;
    }
    
    .fetured {
        color: #222222;
        font-size: 30px;
        font-weight: $fontWeightBold;
        letter-spacing: 0.75px;
        text-align: center;
    }
    
    .fetured2 {
        height: 12px;
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.35px;
        text-align: center;
    }
    
    .product-1 {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 123px;
    }
    
    .product-2 {
        display: flex;
        justify-content: space-between;
        padding-bottom: 79px;
    }
    
    .product-1f {
        width: 263px;
        height: 281px;
        background: url(../img/Layer_2.jpg);
    }
    
    .product-2f {
        width: 263px;
        height: 281px;
        background: url(../img/Layer_3.jpg);
    }
    
    .product-3f {
        width: 263px;
        height: 281px;
        background: url(../img/Layer_4.jpg);
    }
    
    .featured-img-wrap {
        height: 280px;
        position: relative;
    }
    
    .featured-buy {
        height: inherit;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        position: absolute;
    }
    
    .product-1f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product-2f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product-3f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product-4f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .featured-buy button {
        padding: 15px;
        border: 1px solid #ffffff;
        background: none;
        color: white;
        font-size: 13px;
        font-weight: $fontWeightBase;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .featured-buy button img {
        margin-right: 10px;
    }
    
    .product-3f-product-1-label {
        padding-top: 20px;
        padding-right: 90px;
    }
    
    .product-3f-product-1-label:hover {
        height: 84px;
        color: #222222;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        box-sizing: border-box;
        padding-top: 20px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        width: 263px;
    }
    
    .label-1 {
        color: $colorRed;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
        padding-top: 16px;
    }
    
    .product-4f {
        width: 263px;
        height: 281px;
        background: url(../img/Layer_5.jpg);
    }
    
    .prod {
        padding-left: 14px;
        color: #222222;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
    }
    
    .product-1-label {
        height: 84px;
        color: #222222;
        font-size: 13px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
        box-sizing: border-box;
        background: white;
        padding-top: 20px;
        overflow: hidden;
        padding-right: 90px;
    }
    
    .product-1-label1 {
        color: $colorRed;
        font-size: 16px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
    }
    
    .product2-1f {
        width: 261px;
        background: url(../img/Layer_6.jpg) no-repeat;
    }
    
    .product2-1f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product2-2f {
        width: 261px;
        background: url(../img/Layer_7.jpg) no-repeat;
    }
    
    .product2-2f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product2-3f {
        width: 261px;
        background: url(../img/Layer_8.jpg) no-repeat;
    }
    
    .product2-3f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product2-4f {
        width: 261px;
        background: url(../img/Layer_9.jpg) no-repeat;
    }
    
    .product2-4f:hover .featured-buy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pr {
        width: 212px;
        height: 48px;
        margin-left: 465px;
        background: $colorRed;
        color: #ffffff;
        font-weight: $fontWeightBase;
        letter-spacing: 0.4px;
        border: none;
    }
    
    .pr .i {
        width: 15px;
        height: 7px;
        color: #ffffff;
        font-family: "Font Awesome";
        font-size: 15px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0.38px;
    }
    
    .featured {
        padding-bottom: 97px;
        font-family: $fontFamily;
    }
    
    .fetured .container {
        padding-top: 113px;
    }
    
    .banner {
        min-width: 767px;
        min-height: 529px;
        margin-top: 113px;
        background: url(../img/Image.jpg) no-repeat;
        background-color: black;
    }
    
    .banner-text {
        padding-top: 146px;
        padding-left: 36px;
        float: left;
        color: #ffffff;
        width: 293px;
        font-size: 52px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-family: $fontFamily;
    }
    
    .banner-text span {
        color: $colorRed;
        letter-spacing: 1.5px;
    }
    
    .banner-text div {
        font-size: 32px;
        letter-spacing: 0.9px;
    }
    
    .banner:hover {
        background: url(../img/Layer_38.jpg) no-repeat;
        background-color: black;
    }
    
    .featuredb-o-x {
        float: right;
        color: #fbfbfb;
    }
    
    .featuredb-o-x1 {
        background: url(../img/Forma_1B.png) no-repeat 36px 51px;
        width: 219px;
        padding-bottom: 54px;
        position: relative;
        padding-top: 55px;
        padding-left: 100px;
        padding-right: 43px;
    }
    
    .featuredb-o-x1 span {
        position: absolute;
        font-size: 20px;
        font-weight: $fontWeightBase;
        letter-spacing: 0.5px;
    }
    
    .featuredb-o-x1 span:hover {
        font-size: 25px;
        font-weight: 400;
    }
    
    .featuredb-o-x1 div {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.35px;
        padding-top: 37px;
        font-family: $fontFamily;
    }
    
    .featuredb-o-x2 {
        background: url(/img/Forma_2B.png) no-repeat 36px 5px;
        width: 219px;
        padding-bottom: 54px;
        position: relative;
        padding-top: 14px;
        padding-left: 100px;
        padding-right: 43px;
    }
    
    .featuredb-o-x2 span {
        position: absolute;
        font-size: 20px;
        font-weight: $fontWeightBase;
        letter-spacing: 0.5px;
    }
    
    .featuredb-o-x2 span:hover {
        font-size: 25px;
        font-weight: 400;
    }
    
    .featuredb-o-x2 div {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.35px;
        padding-top: 37px;
        font-family: $fontFamily;
    }
    
    .featuredb-o-x3 {
        background: url(/img/Forma_3B.png) no-repeat 36px 5px;
        width: 219px;
        padding-bottom: 54px;
        position: relative;
        padding-top: 14px;
        padding-left: 100px;
        padding-right: 43px;
    }
    
    .featuredb-o-x3 span {
        position: absolute;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    
    .featuredb-o-x3 span:hover {
        font-size: 25px;
        font-weight: 400;
    }
    
    .featuredb-o-x3 div {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.35px;
        padding-top: 37px;
        font-family: $fontFamily;
    }
    
    .subsribe {
        background: url(/img/Layer_41.jpg) center bottom/cover no-repeat, #cccccc;
        background-blend-mode: overlay;
    }
    
    .group17 {
        display: flex;
        width: 497px;
        height: 438px;
    }
    
    .group17-img {
        margin-top: 111px;
        width: 83px;
        height: 83px;
        background: url(/img/Layer_40.png) no-repeat;
        border-radius: 50%;
    }
    
    .group17-img:hover {
        background: #000000;
    }
    
    .group17 i {
        color: #222224;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    
    .g17 {
        width: 82px;
        color: $colorRed;
        font-size: 15px;
        font-weight: $fontWeightBase;
        padding-top: 19px;
        padding-bottom: 41px;
    }
    
    .gr17-g {
        width: 386px;
        padding-top: 123px;
        padding-left: 28px;
    }
    
    .gr17-g blockquote {
        margin: 0;
        font-size: 15px;
        font-style: italic;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 0.4px;
        color: #222224;
    }
    
    .g17 div {
        color: #222224;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 14px;
    }
    
    .g17 span {
        font-weight: $fontWeightBase;
        letter-spacing: 0.4px;
        line-height: 26px;
        font-family: $fontFamily;
    }
    
    .pagination {
        display: flex;
        width: 140px;
        justify-content: space-between;
    }
    
    .p-g {
        width: 38px;
        border-bottom: 4px solid #d6d6d6;
    }
    
    .p-g:hover {
        width: 38px;
        border-bottom: 4px solid $colorRed;
    }
    
    .group6 {
        width: 497px;
        height: 438px;
    }
    
    .subsribe-texst {
        display: flex;
        flex-wrap: wrap;
    }
    
    .line {
        width: 1px;
        height: 438px;
        background-color: #ffffff;
        margin-left: 72px;
    }
    
    .group6-box {
        font-family: $fontFamily;
        margin-top: 148px;
        margin-left: 92px;
        text-align: center;
        color: #595757;
    }
    
    .boxzz {
        width: 277px;
        padding-left: 54px;
    }
    
    .group6-box span {
        font-weight: $fontWeightBase;
        font-family: $fontFamily;
        font-size: 20px;
        font-style: normal;
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }
    
    .group6-box div {
        font-size: 13px;
        letter-spacing: 0.35px;
        line-height: 24px;
    }
    
    .rounded-re {
        margin-left: 80px;
        width: 109px;
        border-radius: 0 23px 23px 0;
        background-color: $colorRed;
        color: #ffffff;
        letter-spacing: 0.35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-family: $fontFamily;
    }
    
    .rounded {
        font-family: $fontFamily;
        border-radius: 23px;
        background-color: #e1e1e1;
        width: 386px;
        height: 46px;
        margin-top: 35px;
        display: flex;
    }
    
    .rounded input {
        padding: 18px 28px;
        opacity: 0.67;
        color: #222224;
        border-radius: 23px;
        background-color: #e1e1e1;
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: 0.35px;
        border: none;
        font-family: $fontFamily;
    }
    
    .footer {
        margin: 0 auto;
        margin-top: 109px;
    }
    
    .footer .container {
        display: flex;
        margin-bottom: 89px;
    }
    
    .footer-objectively {
        width: 427px;
        height: 180px;
        color: #898989;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: 0.3px;
        padding-top: 21px;
    }
    
    .footer-inform {
        width: 608px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 63px;
    }
    
    .footer-inform1 {
        width: 154px;
    }
    
    .footer-inform1 .footer-q-q {
        width: 144px;
        color: #898989;
        font-family: $fontFamily;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.4px;
        margin-bottom: 33px;
    }
    
    .footer-inform2 a {
        width: 144px;
        height: 179px;
        color: #898989;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
    }
    
    .footer-inform1 span {
        width: 94px;
        color: $colorRed;
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
        padding-bottom: 45px;
        display: inline-block;
    }
    
    .footer-inform1 .footer-q-q {
        width: 154px;
        color: $colorRed;
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: $fontWeightBase;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.45px;
    }
    
    .footer-inform1 a {
        display: inline-block;
        text-decoration: none;
        width: 131px;
        height: 39px;
        color: #898989;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.4px;
    }
    
    .background {
        width: 1617px;
        background-color: #e6e6e6;
    }
    
    .background .container {
        align-items: center;
        height: 79px;
    }
    
    .copyrights {
        height: 80px;
        background: #e6e6e6;
    }
    
    .copyrights .container {
        width: 1140px;
        margin: 0px auto;
    }
    
    .copyrights-wrap {
        color: #7a7a7a;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .copyrights-right {
        display: flex;
        width: 200px;
        justify-content: space-between;
    }
    
    .copyrights-right a {
        color: inherit;
        text-decoration: none;
    }
    
    .copyrights-right i {
        width: 32px;
        height: 32px;
        background: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .copyrights-right i:hover {
        color: white;
        background: $colorRed;
    }
    
    .breadcrumb {
        height: 148px;
        background-color: #f8f3f4;
    }
    
    .breadcrumb .container1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1140px;
        margin: 0 auto;
        height: inherit;
        text-transform: uppercase;
    }
    
    .new-arrivals {
        color: $colorRed;
        font-size: 24px;
        font-weight: $fontWeightBase;
        font-family: $fontFamily;
    }
    
    .home-men a {
        line-height: 20px;
        font-size: 13px;
        width: 196px;
        text-transform: uppercase;
        color: #636363;
        font-family: $fontFamily;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .home-men a:hover {
        color: $colorRed;
        font-family: $fontFamily;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    .home-men a:nth-last-child(1) {
        color: $colorRed;
        font-family: $fontFamily;
        text-transform: uppercase;
        font-weight: $fontWeightBase;
    }
    
    .shopping-c .container1 {
        width: 1140px;
        margin: 0 auto;
    }
    
    .product-de1 {
        display: flex;
        align-items: center;
        height: inherit;
        justify-content: space-between;
        font-family: $fontFamily;
        text-align: left;
        font-size: 14px;
        font-weight: $fontWeightBold;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: -0.2px;
        padding-top: 90px;
        padding-bottom: 20px;
    }
    
    .product-de1 a {
        text-decoration: none;
        color: #222222;
    }
    
    .shopping-c-product {
        width: 455px;
        display: flex;
    }
    
    .line1 {
        width: 1140px;
        border: 1px solid #eaeaea;
    }
    
    .bo-x-x-x {
        padding-left: 21px;
    }
    
    .shopping-c-productde {
        padding-bottom: 26px;
        padding-top: 26px;
        display: flex;
        justify-content: space-between;
    }
    
    .shopping-c-product-1 {
        width: 157px;
        height: 15px;
        color: #222222;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
    }
    
    .shopping-c-product-1-text {
        padding-top: 38px;
        width: 64px;
        color: #575757;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        font-family: $fontFamily;
    }
    
    .shopping-c-product-1-text span {
        color: #6f6e6e;
        font-weight: 300;
        font-family: $fontFamily;
        padding-left: 4px;
    }
    
    .shopping-c-product-1-l {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #656565;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        line-height: 20px;
    }
    
    .shopping-c-product-1-l1 i {
        color: #c0c0c0;
    }
    
    .shopping-c-product-1-l1 {
        margin-top: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        font-family: $fontFamily;
        font-size: 13px;
        height: 30px;
        text-align: center;
        color: #656565;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }
    
    .shopping-c-button {
        padding-top: 44px;
        display: flex;
        justify-content: space-between;
    }
    
    .rectangle-but1 {
        width: 235px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        font-family: $fontFamily;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: $fontWeightBold;
        color: #4a4a4a;
    }
    
    .shipping-address {
        padding-top: 63px;
        padding-bottom: 79px;
    }
    
    .contener2 {
        width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .proceed-to-check {
        width: 360px;
        background-color: #f5f3f3;
    }
    
    .shipping-address-1 {
        width: 355px;
    }
    
    .shipping-address-2 {
        width: 355px;
    }
    
    .proceed-to-check-container {
        padding: 41px 40px;
        height: 132px;
        text-align: right;
    }
    
    .subtotal {
        padding-left: 174px;
        justify-content: space-between;
        width: 101px;
        height: 12px;
        display: flex;
    }
    
    .subtotal div {
        color: #4a4a4a;
        font-family: $fontFamily;
        font-size: 11px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
    }
    
    .subtotal span {
        font-weight: $fontWeightBold;
        font-size: 11px;
    }
    
    .g-r-a-n-dtotal {
        padding-left: 109px;
        width: 165px;
        height: 16px;
        padding-top: 14px;
        justify-content: space-between;
        display: flex;
    }
    
    .g-r-a-n-dtotal div {
        color: #222222;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
    }
    
    .g-r-a-n-dtotal span {
        color: $colorRed;
    }
    
    .line2 {
        margin-top: 22px;
        height: 1px;
        background-color: #e2e2e2;
        margin-bottom: 17px;
    }
    
    .proceed-to {
        color: #ffffff;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
        border: none;
        width: 273px;
        height: 50px;
        background-color: $colorRed;
        text-align: center;
    }
    
    .enter-your1 {
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
    }
    
    .enter-your {
        height: 14px;
        color: #000000;
        font-family: $fontFamily;
        font-size: 13px;
        padding-top: 24px;
        font-weight: 300;
    }
    
    .shipping-address-1-form {
        margin-top: 24px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        font-family: $fontFamily;
    }
    
    .shipping-address-1-form input {
        border: none;
        height: 11px;
        color: #b1b1b1;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: 300;
        padding: 17px 16px;
    }
    
    .shipping-address-1 button {
        margin-top: 25px;
        text-transform: uppercase;
        width: 118px;
        height: 35px;
        font-size: 11px;
        font-weight: 700;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }
    
    .shipping-address-2 button {
        margin-top: 23px;
        text-transform: uppercase;
        width: 118px;
        height: 35px;
        font-size: 11px;
        font-weight: 700;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }
    
    .shipping-address-2-form {
        margin-top: 20px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        font-family: $fontFamily;
        & input {
            border: none;
            height: 11px;
            color: #b1b1b1;
            font-family: $fontFamily;
            font-size: 13px;
            font-weight: 300;
            padding: 17px 16px;
        }
        & select {
            border: none;
            color: #b1b1b1;
            font-family: $fontFamily;
            font-size: 13px;
            font-weight: 300;
            padding: 13px 16px;
            width: 345px;
        }
    }
    
    .imege-slide {
        display: flex;
        height: 777px;
        border: 1px solid #eaeaea;
        background: url(/img/Layer_42.jpg) no-repeat, #f7f7f7;
        margin: 0 auto;
        background-position-x: 455px;
    }
    
    .imege-slide-c {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        margin: 0 auto;
        height: inherit;
        text-align: center;
        margin-top: 365px;
        width: 1607px;
        height: 47px;
    }
    
    .arrow-left,
    .arrow-right {
        width: 47px;
        background-color: #d8d8d8;
        display: flex;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        & .i {
            width: 8px;
            height: 14px;
            color: #ffffff;
        }
    }
    
    .sp-background {
        height: 730px;
        width: 1141px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        margin: 0 auto;
        position: relative;
        top: -86px;
    }
    
    .sp-background-container {
        width: 642px;
        text-align: center;
        margin: 0 auto;
        & .sp-background-container-h1 {
            color: $colorRed;
            font-family: $fontFamily;
            font-size: 13px;
            font-weight: $fontWeightBase;
            padding-top: 74px;
        }
        & .moschino-c {
            color: #4d4d4d;
            font-family: $fontFamily;
            font-size: 18px;
            font-weight: $fontWeightBase;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            margin: 17px 0 67px 0;
        }
        & .compelling {
            color: #5e5e5e !important;
            font-family: $fontFamily;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: center;
            margin-bottom: 28px;
        }
        & h3 {
            width: 54px;
            height: 24px;
            color: #ef5b70;
            font-family: $fontFamily;
            font-size: 24px;
            font-weight: $fontWeightBase;
            font-style: normal;
            letter-spacing: normal;
            line-height: 24px;
            text-align: center;
            display: contents;
        }
        & .line4 {
            width: 642px;
            height: 1px;
            background-color: #eaeaea;
            margin: 43px 0 63px 0;
        }
        & button {
            width: 537px;
            height: 55px;
            border: 1px solid $colorRed;
            background-color: #ffffff;
        }
    }
    
    .sp-background-line {
        margin-top: 14px;
        width: 147px;
        margin-left: 248px;
        display: flex;
        background-color: #eaeaea;
        & .sp-background-rectangle1 {
            width: 42px;
            color: #eaeaea;
        }
        & .sp-background-rectangle2 {
            width: 63px;
            height: 3px;
            background-color: $colorRed;
        }
    }
    
    .sp-tab {
        width: 334px;
        color: #b9b9b9;
        font-family: $fontFamily;
        font-size: 14px;
        font-weight: $fontWeightBase;
        font-style: normal;
        display: flex;
        text-align: center;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 28px 0 37px 142px;
        & div {
            color: #b9b9b9;
            font-style: normal;
            text-align: center;
            text-transform: uppercase;
        }
        & span {
            color: #2f2f2f;
        }
    }
    
    .base-style {
        color: #2f2f2f;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: $fontWeightBase;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 0 0 16px 50px;
        width: 537px;
        & div {
            width: 108px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
    .add-to-car {
        & img {
            color: $colorRed;
            padding-right: 20px;
            font-weight: $fontWeightBase;
            text-align: center;
        }
        & span {
            width: 83px;
            height: 11px;
            color: $colorRed;
            font-family: $fontFamily;
            font-size: 16px;
            font-weight: $fontWeightBold;
            text-align: center;
        }
    }
    
    .rectangle-style {
        display: flex;
        width: 538px;
        text-align: center;
        justify-content: space-between;
        margin: 0 0px 28px 50px;
        & .rectangle-style-but {
            width: 144px;
            height: 35px;
            border: 1px solid #eaeaea;
            background-color: #ffffff;
            color: #bcbcbc;
            font-family: $fontFamily;
            font-size: 13px;
            font-weight: $fontWeightBase;
            line-height: 24px;
            text-align: center;
        }
    }
    
    .rectangle-style-but {
        border: 1px solid #eaeaea;
        color: #bcbcbc;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: $fontWeightBase;
        line-height: 24px;
        & option {
            width: 24px;
            height: 10px;
            color: #bcbcbc;
            font-family: $fontFamily;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
            padding-left: 14px;
            text-transform: uppercase;
            & span {
                width: 12px;
                height: 12px;
                background-color: $colorRed;
            }
        }
    }
    
    .rectangle-style-input {
        border: 1px solid #eaeaea;
        color: #bcbcbc;
        font-family: $fontFamily;
        font-size: 13px;
        font-weight: $fontWeightBase;
    }
    
    .rectangle-red {
        display: flex;
        & .rectangle-red1 {
            width: 12px;
            height: 12px;
            background-color: #ef5b70;
        }
    }
    
    .product-u {
        width: 1139px;
        margin: 0 auto;
        & .container {
            min-height: inherit;
        }
    }
    
    .product-u-fetured {
        width: 234px;
        height: 18px;
        color: #4d4d4d;
        font-family: $fontFamily;
        font-size: 23px;
        font-weight: $fontWeightBase;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 732px;
    }
    
    .product-1 {
        &.product-u-1f {}
    }
    
    .product-u-featured-img-wrap {}
    
    .product-u-featured-buy {}
    
    .product-3f-product-1-label {}
    
    .product-u-prod {}
    
    .label-1 {}