@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");

.goodsShop {
	width: 1140px;
	margin: 0 auto;
	margin-top: 25px;
}

.goods-list {
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	padding-left: 50px;
   padding-top: 25px;
   padding-bottom: 25px;
}

.goods-item {
	border: 1px solid wheat;
	width: 150px;
	box-sizing: border-box;
	padding: 0px 20px;
	margin: 10px 10px;
}

.body {
	margin: 0;
	font-family: "Lato", sans-serif;
}
 
.header {
	height: 100px;
	border-bottom: 1px solid #ececec;
 }
 
 .container {
	width: 1140px;
	margin: 0 auto;
	display: flex;	
 }
 
 .header .container {
	display: flex;
	height: inherit;
	flex-direction: row;
	align-items: center;
}

.logo {
	display: flex;
	height: 51px;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 0.68px;
	padding-left: 72px;
	margin-right: 37px;
	font-family: "Lato", sans-serif;
 }
 
.logo span {
	color: #f16d7f;
	font-weight: 900;
	letter-spacing: 0.68px;
 }
 
.top-search {
	display: flex;
	border: 1px solid #e6e6e6;
	border-radius: 3px 0 0 3px;
	overflow: hidden;
	height: 38px;
	font-family: "Lato", sans-serif;
 }
 
.top-search .search-button {
	border: none;
	background: none;
	padding: 12px 11px;
	color: #a4a4a4;
	letter-spacing: 0.35px;
 }
 
.top-search input {
	border-bottom: none;
	border-top: none;
	color: #a4a4a4;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	padding: 14px 16px;
	box-sizing: border-box;
 }
 
 .search-browse {
	width: 87px;
	color: #222222;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: 0.35px;
	border: none;
	font-family: "Lato", sans-serif;
 }
 
.cart {
	margin-left: auto;
	width: 32px;
	height: 29px;
 }
 
.my-account {
	color: #ffffff;
	font-size: 15px;
	width: 130px;
	height: 38px;
	background: #f16d7f;
	margin-left: 526px;
	border: none;
	font-family: "Lato", sans-serif;
 }
 
.breadcrumb {
	height: 148px;
	background-color: #f8f3f4;
 }
 
 .breadcrumb .container1 {
	display: flex;
			  align-items: center;
			  justify-content: space-between;
	width: 1140px;
	margin: 0 auto;
	height: inherit;
	text-transform: uppercase;
 }
 
 .new-arrivals {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
 }
 
 .home-men a {
	line-height: 20px;
	font-size: 13px;
	width: 196px;
	text-transform: uppercase;
	color: #636363;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
 }
 
 .home-men a:hover {
	color: #f16d7f;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
 }
 
 .home-men a:nth-last-child(1) {
	color: #f16d7f;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
 }
 .top-nav {
	flex-wrap: wrap;
	height: 51px;
	font-size: 14px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lato", sans-serif;
 }
 
.top-nav a {
	text-decoration: none;
	color: #222222;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
 }
 
.top-nav a:hover {
	border-bottom: 4px solid #f16d7f;
	color: #f16d7f;
 }
 
.top-nav a:not(:last-child) {
	margin-right: 47px;
 }
 .shopping-c .container1 {
	width: 1140px;
	margin: 0 auto;
}
 .product-de1 {

	display: flex;
	align-items: center;
	height: inherit;
	justify-content: space-between;
   font-family: "Lato", sans-serif;
	text-align: left;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: -0.2px;
	padding-top: 90px;
	padding-bottom: 20px;
}
.line1 {
	width: 1140px;
	border: 1px solid #eaeaea;
	
	margin: 0 auto;
}

.product-de1 a {
	text-decoration: none;
	color: #222222;
}

.shopping-c-product {
	width: 455px;
	display: flex;
}

.shopping-c-productDe {
	padding-bottom: 26px;
	padding-top: 26px;
	display: inline-flexbox;
	justify-content: space-between;
}

.shopping-c-product-1 {
	width: 157px;
	height: 15px;
	color: #222222;
	font-family: "Lato", sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}

.shopping-c-product-1-text {
	padding-top: 38px;
	width: 64px;
	color: #575757;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	font-family: "Lato", sans-serif;
}

.shopping-c-product-1-text span {
	color: #6f6e6e;
	font-weight: 300;
	font-family: "Lato", sans-serif;
	padding-left: 4px;
}

.shopping-c-product-1-l {
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #656565;
	font-family: "Lato", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
}

.shopping-c-product-1-l1 i {
	color: #c0c0c0;
}

.shopping-c-product-1-l1 {
	margin-top: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	font-family: "Lato", sans-serif;
	font-size: 13px;
	height: 30px;
	text-align: center;
	color: #656565;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
}

.shopping-c-button {
	padding-top: 44px;

	justify-content: space-between;
}

.rectangle-but1 {
	width: 235px;
	height: 50px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #4a4a4a;
}


