.goods-list {
	border: 2px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.goods-item {
	border: 1px solid wheat;
	width: 150px;
	box-sizing: border-box;
	padding: 0px 20px;
	margin: 10px 10px;
}
.cart-button{

}
.body {
	margin: 0;
	font-family: "Lato", sans-serif;
 }
 
.header {
	height: 100px;
	border-bottom: 1px solid #ececec;
 }
 
 .container {
	width: 1140px;
	margin: 0 auto;
	display: flex;	
 }
 
 .header .container {
	display: flex;
	height: inherit;
	flex-direction: row;
	align-items: center;
}

.logo {
	display: flex;
	height: 51px;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 0.68px;
	padding-left: 72px;
	margin-right: 37px;
	font-family: "Lato", sans-serif;
 }
 
.logo span {
	color: #f16d7f;
	font-weight: 900;
	letter-spacing: 0.68px;
 }
 
.top-search {
	display: flex;
	border: 1px solid #e6e6e6;
	border-radius: 3px 0 0 3px;
	overflow: hidden;
	height: 38px;
	font-family: "Lato", sans-serif;
 }
 
.top-search .search-button {
	border: none;
	background: none;
	padding: 12px 11px;
	color: #a4a4a4;
	letter-spacing: 0.35px;
 }
 
.top-search input {
	border-bottom: none;
	border-top: none;
	color: #a4a4a4;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	padding: 14px 16px;
	box-sizing: border-box;
 }
 
 .search-browse {
	width: 87px;
	color: #222222;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
	letter-spacing: 0.35px;
	border: none;
	font-family: "Lato", sans-serif;
 }
 
.cart {
	margin-left: auto;
	width: 32px;
	height: 29px;
 }
 
.my-account {
	color: #ffffff;
	font-size: 15px;
	width: 130px;
	height: 38px;
	background: #f16d7f;
	margin-left: 526px;
	border: none;
	font-family: "Lato", sans-serif;
 }
 
.breadcrumb {
	height: 148px;
	background-color: #f8f3f4;
 }
 
 .breadcrumb .container1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		 -ms-flex-align: center;
			  align-items: center;
	-webkit-box-pack: justify;
		 -ms-flex-pack: justify;
			  justify-content: space-between;
	width: 1140px;
	margin: 0 auto;
	height: inherit;
	text-transform: uppercase;
 }
 
 .new-arrivals {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
 }
 
 .home-men a {
	line-height: 20px;
	font-size: 13px;
	width: 196px;
	text-transform: uppercase;
	color: #636363;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
 }
 
 .home-men a:hover {
	color: #f16d7f;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
 }
 
 .home-men a:nth-last-child(1) {
	color: #f16d7f;
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
 }
 .top-nav {
	flex-wrap: wrap;
	height: 51px;
	font-size: 14px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lato", sans-serif;
 }
 
.top-nav a {
	text-decoration: none;
	color: #222222;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
 }
 
.top-nav a:hover {
	border-bottom: 4px solid #f16d7f;
	color: #f16d7f;
 }
 
.top-nav a:not(:last-child) {
	margin-right: 47px;
 }
.goodsShop {
	width: 1140px;
	margin: 0 auto;}